<%= form_for @contestant, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <%= form.label :prizes %><br>
  <% @prizes.each do |prize| %>
    <tr>
      <%= check_box_tag('prize_ids[]', prize.id) %>
      <%= label_tag('prize_name[]', prize.title) %><br>
    </tr>
  <% end %>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>