<p>
  <strong>Name:</strong>
  <%= @contestant.name %>
</p>
 
<p>
  <strong>Prizes:</strong>
<!--   <%= @contestant.prize_ids %> -->
  <% @contestant.prize_ids.each do |prize_id| %>
    <tr>
      <% @prize = Prize.find(prize_id) %>
      <%= @prize.title %><br>
    </tr>
  <% end %>
</p>

<%= link_to 'Edit', edit_contestant_path(@contestant) %> |
<%= link_to 'Back', contestants_path %>
